---
layout: default
---

<style>
  .player-container {
    position: relative !important;
    bottom: auto !important;
    left: auto !important;
    width: 100% !important;
    max-width: 500px !important;
    margin: 20px auto !important; /* Le "auto" ici va la centrer horizontalement */
    z-index: 1 !important;
    display: block !important;
    transform: none !important;
  }
  .single-post img {
    max-width: 100%;
    height: auto;
    display: block !important;
    margin: 0 auto 20px auto !important; /* Force le centrage horizontal */
  }
</style>

<div class="single-post">
    <div class="categories">
        {% for category in page.categories %}
          <a href="{{ '/cat/#' | append: (category | slugify) | absolute_url }}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %} 
        {% endfor %}
    </div>
    
    <h2>{{page.title}}</h2>

    {% if page.cover %}
        <img src="{{ page.cover | absolute_url }}" alt="Cover">
    {% else %}
        <img src="{{ '/assets/img/Podcast_Cover_500.jpg' | absolute_url }}" alt="Cover">
    {% endif %}

    {% capture file %}{{- page.file -}}{% endcapture %}
    {% capture title %}{{- page.title -}}{% endcapture %}
    
    {% include player.html file=file title=title %}

    {% if page.videoid %}
        {% include video.html videoid = page.videoid %}
    {% endif %}

    {{ content }}
</div>

{% if site.settings.disqus-shortname %}
    {%- include disqus.html -%}
{% endif %}
